
.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 500px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}

/* ----------------------------------------------------  */

/* Responsive Code for Mobile View */
@media screen and (max-width: 370px) {
  .four_zero_four_bg {
    height: 300px; /* Adjust the height for smaller screens */
  }
  .four_zero_four_bg h1,
  .four_zero_four_bg h3 {
    font-size: 24px; /* Reduce the font size for smaller screens */
  }
  .link_404 {
    padding: 8px 16px; /* Adjust the padding for smaller screens */
    margin: 10px 0; /* Adjust the margin for smaller screens */
  }
  .contant_box_404 {
    margin-top: -30px; /* Adjust the margin for smaller screens */
  }
  .container {
    display: flex;
    flex-direction: column-reverse; /* Change the flex direction for smaller screens */
    align-items: center; /* Center the items vertically */
  }
  .text,
  .image {
    width: 100%; /* Adjust the width for smaller screens */
  }
  .container {
    min-width: 150px; /* Adjust the minimum width for smaller screens */
    padding: 20px 0; /* Adjust the padding for smaller screens */
  }
  .text {
    display: block;
    width: 100%; /* Adjust the width for smaller screens */
    padding: 10px 20px; /* Adjust the padding for smaller screens */
  }
  .image {
    display: flex;
    width: 150px; /* Adjust the width for smaller screens */
    align-self: center;
    justify-content: center;
    margin: auto; /* Adjust the margin for smaller screens */
  }
}
